*{
    padding: 0px;
    margin: 0px;
    /* font-family: 'Cinzel Decorative', cursive; */
/* font-family: 'Faster One', cursive; */
font-family: 'Flamenco', cursive;
/* font-family: 'Tangerine', cursive; */
/* font-family: 'Tektur', cursive; */
/* font-family: 'Ysabeau SC', sans-serif; */
font-size: 1.1rem;
}
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Faster+One&family=Flamenco&family=Tangerine&family=Tektur&family=Ysabeau+SC&display=swap');
